<div class="template" data-id="checkbox">
    <span class="temp"></span>

    <% items.forEach(function(v) { %>
        <input type="checkbox" class="form-control" name="<%=name%>[]" checked="<%=v.checked%>" value="<%=v.name%>"><%=v.name%>
    <% }); %>

    <script type="text/javascript">
        var label = '<%=label%>';
        var description = '<%=description%>';

        if(description)
            jQuery('.temp').after('<p>'+description+'</p>');

        if(label)
            jQuery('.temp').after('<label>'+label+'</label>');
    </script>
</div>