<div class="template" data-id="checkbox">
    <label><%=label%></label>

    <% items.forEach(function(v) { %>
        <input type="checkbox" class="form-control" name="<%=name%>[]" checked="<%=v.checekd%>" value="<%=v.name%>"><%=v.name%>
    <% }); %>

    <script type="text/javascript">
        var description = '<%=description%>';

        jQuery('.description').remove()
        if(description) {
            jQuery('label').after('<p class="description">'+description+'</p>')
        }
    </script>
</div>