<div class="popover" data-id="general">
    <div>
        <div class="root"></div>

        <span class="edit">edit</span>
        <span class="remove">remove</span>

        <script type="text/javascript">
            (function($) {
                var data = $('.root').data(),
                        avatar = data['avatar'],
                        panel = avatar.get_panel(),
                        element = avatar.element;

                $('.remove').on('click', function () {
                    var popover = $(this).closest('.popover').data('bs.popover');

                    popover.destroy();
                    avatar.remove();
                });

                $('.edit').on('click', function () {
                    panel.on('save', function (ui, attributes) {
                        avatar.fillAttributes(attributes);

                        $(element).attr('class', attributes.size + ' avatar');

                        avatar.render();
                    });

                    $('[data-toggle=popover]').popover('hide');

                    panel.open();
                });
            })(jQuery)
        </script>
    </div>
</div>