<div class="popover" data-id="general">
    <div>
        <div class="root"></div>

        <span class="edit">edit</span>
        <span class="remove">remove</span>

        <script type="text/javascript">
            var data = jQuery('.root').data(),
                    avatar = data['avatar'],
                    panel = data['panel'],
                    tooltip = data['tooltip'],
                    element = avatar.get_element();


            jQuery('.remove').on('click', function () {
                avatar.remove_from_dom();
            });

            jQuery('.edit').on('click', function () {
                panel.on('save', function (ui, attributes) {
                    avatar.fill(attributes);

                    element.attr('class', attributes.size + ' avatar');

                    jQuery(element).html(
                        avatar.get_template(false)
                    );

                    jQuery(element).data('avatar', avatar);
                });

                jQuery('[data-toggle=popover]').popover('hide');

                panel.open();
            });
        </script>
    </div>
</div>