<div class="panel" data-id="button" data-size="col-md-12" data-style="">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#general" aria-controls="general" role="tab" data-toggle="tab">General</a></li>
        <li role="presentation"><a href="#style" aria-controls="style" role="tab" data-toggle="tab">Style</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="general">
            <input type="text" name="text" value="<%=text%>">
        </div>
        <div role="tabpanel" class="tab-pane" id="style">
            <textarea name="style"><%=style%></textarea>

            <br/>
            <br/>
            Size
            <select name="size" class="size">
                <option value="col-md-3">Small</option>
                <option value="col-md-6">Medium</option>
                <option value="col-md-12">Large</option>
            </select>
            <br/>
            <br/>
            <script>
                jQuery('select.size').val('<%=size%>');
            </script>
        </div>
    </div>
</div>
