<div class="panel" data-id="general" data-size="col-md-12" data-style="">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#general" aria-controls="general" role="tab" data-toggle="tab">General</a></li>
        <li role="presentation"><a href="#validation" aria-controls="validation" role="tab" data-toggle="tab">Validation</a></li>
        <li role="presentation"><a href="#style" aria-controls="style" role="tab" data-toggle="tab">Style</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="general">

            <% if (typeof(name) !== "undefined" && name !== "") { %>
                <input type="text" name="name" value='<%=name%>'>
            <% } %>

            <% if (typeof(text) !== "undefined") { %>
                <input type="text" name="text" value='<%=text%>'>
            <% } %>

            <% if (typeof(placeholder) !== "undefined") { %>
                <input type="text" name="placeholder" value='<%=placeholder%>'>
            <% } %>

            <% if (typeof(options) !== "undefined") { %>
                <br />
                Options
                <br />

                <script type="text/javascript">
                    (function($) {
                        $(function() {
                            $(document).on('click', 'div.options .remove', function() {
                                if( $(this).closest('.options').find('li').length > 1 )
                                    $(this).closest('li').remove();

                                return false;
                            });

                            $('.add_new_option').on('click', function(e, v) {
                                var template = $('.options li:last').clone();
                                template.find('input[type=text]').val('');
                                template.find('.is_checked').prop('checked', false).removeAttr('checked');

                                $('.options').append(template);

                                return false;
                            });

                            $('.options').on('click','.is_checked', function() {
                                if( $(this).is(':checked') ) {
                                    $(this).val('true')
                                } else {
                                    $(this).val('false')
                                }
                            })
                        })
                    })(jQuery)
                </script>

                <div class="options">
                    <% _.forEach(options, function(option, k) { %>
                        <li style="list-style-type: none">
                            <input type="hidden" name="checked" value="false">
                            <input type="radio" class="is_checked" name="checked">

                            <input type="text" name="options[][value]" value="<%=option.value%>">
                            <a href="#" class="remove">remove</a>
                        </li>
                    <% }); %>
                </div>

                <a href="#" class="add_new_option">add new</a>

            <% } %>
        </div>
        <div role="tabpanel" class="tab-pane" id="validation">
            <br/>
            <br/>

            <% if (typeof(required) !== "undefined") { %>
                <input type="hidden" name="required" value="false">
                Required <input type="checkbox" name="required" value="<%=required%>">

                <script>
                    (function($) {
                        $('input[name=required]').on('click', function(e) {
                            if(! $(this).is(':checked')) {
                                $(this).val('false')
                            } else {
                                $(this).val('true')
                            }
                        });

                        $('input[name=required]').prop('checked', <%=required%>);
                    })(jQuery)
                </script>
            <% } %>

        </div>
        <div role="tabpanel" class="tab-pane" id="style">
            <% if (typeof(style) !== "undefined") { %>
                <textarea name="style"><%=style%></textarea>
            <% } %>

            <% if (typeof(size) !== "undefined") { %>
                <br/>
                <br/>
                Size
                <select name="size" class="size">
                    <option value="col-md-3">Small</option>
                    <option value="col-md-6">Medium</option>
                    <option value="col-md-12">Large</option>
                </select>
                <script>
                    jQuery('select.size').val('<%=size%>');
                </script>
            <% } %>
        </div>
    </div>
</div>
