<div class="panel" data-id="general" data-style="" data-size="col-md-12">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#general" aria-controls="general" role="tab" data-toggle="tab">General</a></li>
        <% if (typeof(required) !== "undefined") { %>
            <li role="presentation"><a href="#validation" aria-controls="validation" role="tab" data-toggle="tab">Validation</a></li>
        <% } %>
        <li role="presentation"><a href="#style" aria-controls="style" role="tab" data-toggle="tab">Style</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="general">
            <div class="row">
                <% if (typeof(name) !== "undefined" && name !== "") { %>
                <div class="col-md-3">
                    <label class="control-label">Name</label>
                    <input type="text" name="name" class="form-control"  value='<%=name%>'>
                </div>
                <% } %>

                <% if (typeof(text) !== "undefined") { %>
                <div class="col-md-3">
                    <label class="control-label">Text</label>
                    <input type="text" name="text" class="form-control"  value='<%=text%>'>
                </div>
                <% } %>

                <% if (typeof(placeholder) !== "undefined") { %>
                <div class="col-md-3">
                    <label class="control-label">Placeholder</label>
                    <input class="form-control" type="text" name="placeholder" value='<%=placeholder%>'>
                </div>
                <% } %>


                <% if (typeof(options) !== "undefined") { %>
                <div class="col-md-3">
                    <label class="control-label">Options</label>

                    <script type="text/javascript">
                        (function($) {
                            $(function() {
                                $(document).on('click', 'div.options .remove', function() {
                                    if( $(this).closest('.options').find('li').length > 1 )
                                        $(this).closest('li').remove();

                                    return false;
                                });

                                $('.add_new_option').on('click', function(e, v) {
                                    var template = $('.options li:last').clone();
                                    template.find('input[type=text]').val('');
                                    template.find('.is_checked').prop('checked', false).removeAttr('checked');

                                    $('.options').append(template);

                                    return false;
                                });

                                $('.options').on('click','.is_checked', function() {
                                    if( $(this).is(':checked') ) {
                                        $(this).val('true')
                                    } else {
                                        $(this).val('false')
                                    }
                                })
                            })
                        })(jQuery)
                    </script>

                    <div class="options">
                        <% _.forEach(options, function(option, k) { %>
                        <li style="list-style-type: none">
                            <input type="hidden" name="checked" value="false">
                            <input type="radio" class="is_checked" name="checked">

                            <input type="text" name="options[][value]" value="<%=option.value%>">
                            <a href="#" class="remove">remove</a>
                        </li>
                        <% }); %>
                    </div>

                    <a href="#" class="add_new_option">add new</a>
                </div>
                <% } %>

            </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="validation">
            <% if (typeof(required) !== "undefined") { %>
                <div class="row">
                    <div class="col-md-3">
                        <input type="hidden" name="required" value="false">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="required" value="<%=required%>"> Required
                            </label>
                        </div>
                    </div>
                </div>
                <script>
                    (function($) {
                        $('input[name=required]').on('click', function(e) {
                            if(! $(this).is(':checked')) {
                                $(this).val('false')
                            } else {
                                $(this).val('true')
                            }
                        });

                        $('input[name=required]').prop('checked', <%=required%>);
                    })(jQuery)
                </script>
            <% } %>
        </div>

        <div role="tabpanel" class="tab-pane" id="style">
            <div class="row">
                <% if (typeof(style) !== "undefined") { %>
                    <div class="col-md-3">
                        <label class="control-label">Textarea</label>
                        <textarea class="form-control" rows="3" name="style"><%=style%></textarea>
                    </div>
                <% } %>

                <% if (typeof(size) !== "undefined") { %>
                    <div class="col-md-3">
                        <label class="control-label">Size</label>
                        <select class="form-control size" name="size">
                            <option value="col-md-3">Small</option>
                            <option value="col-md-6">Medium</option>
                            <option value="col-md-12">Large</option>
                        </select>
                    </div>
                    <script>
                        jQuery('select.size').val('<%=size%>');
                    </script>
                <% } %>
            </div>
        </div>
    </div>
</div>
